<div class="jumbotron text-center">
  <h1>Welcome to Digg Scraper</h1>

  <p>See articles from Digg and make comments</p>
</div>

<div class="container">

	{{#each entry}}
		<div class="row">


			<div class="panel panel-default">
        <div class="panel-heading">{{this.title}}</div>
        <div class="panel-body">

         <a href="{{this.link}}" target="_blank"> {{this.caption}}</a>

         <br/>

         <button type="button" class="btn btn-success writeCommentBtn" data-toggle="modal" data-target="#reviewModal" id="{{this._id}}">
          Leave a review
        </button>


        <button type="button" class="btn btn-warning writeCommentBtn" data-toggle="modal" data-target="#viewComments" id="{{this._id}}">
          See comments
        </button>

        </div>
      </div>
    
    </div>

	{{/each}}


</div>







<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Leave a Comment</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="viewComments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">View Comments</h4>
      </div>
      <div class="modal-body">
        This modal dispplays the comments
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


