<div class="jumbotron text-center">
  <h1>Welcome to Digg Scraper</h1>

  <p>See articles from Digg and make comments</p>

  <a href="/scrape"><button class="btn btn-primary">Scrape Digg</button></a>
</div>

<div class="container">

	{{#each entry}}
  <div class="row">


   <div class="panel panel-default">
    <div class="panel-heading">{{this.title}}</div>
    <div class="panel-body">

     <a href="{{this.link}}" target="_blank"> {{this.caption}}</a>

     <br/>
     <br/>

     <button type="button" class="btn btn-success writeCommentBtn" data-toggle="modal" data-target="#reviewModal" data-id="{{this._id}}">
      Leave a comment
    </button>


    <button type="button" class="btn btn-warning viewCommentBtn" data-toggle="modal" data-target="#viewCommentsModal" data-id ="{{this._id}}">
      See comments
    </button>

  </div>
</div>

</div>
{{/each}}








</div>



  {{!-- Review modal --}}
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="CommentLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="CommentLabel">Write a Review</h4>
      </div>
      <div class="modal-body">

          <form>
           <div class="form-group">
             <label for="title">Title</label>
             <input type="text" class="form-control" id="title" placeholder="Title">
           </div>
           <div class="form-group">
            <label for="comment">Comment</label>
            <textarea type="text" rows= "3" class="form-control" id="comment" placeholder="Comment"></textarea>
          </div>
        </form>

      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitComment">Save changes</button>
      </div>
    </div>
  </div>
</div>


{{!-- Modal for each article --}}

<div class="modal fade" id="viewCommentsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">View Comments</h4>
      </div>
      <div class="modal-body">


      <div id="commentsBody">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

